/* index.html */

.page-content {
    width: 80vw;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* General */

.page-section {
    width: 90%;
    margin: auto;
}

/* main.html */

.wordset-container {
    display: flex;

}

/* Copy Box */

.copy-box-container {
    width: 100%;
}

.copy-box {
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    min-height: 25vw;
    width: 75%;
    background-color: lightgrey;
    border-style: inset;
    border-radius: 1em;
}

.copy-box a {
    color: black;
    text-decoration: none;
}

.copy-box a:hover {
    cursor: pointer;
    color: blue;
}

/* Forms */

.form-control {
    width: 10vw;
}