/* index.html */

.page-content {
    width: 80vw;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* General */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
}

.login-btn {
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
}

.page-section {
    width: 90%;
    margin: auto;
}

/* main.html */

.presets-header {
    border-bottom: 1px solid grey;
}

.main-container {
    display: flex;
}

/* all_words.html */

.wordset-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1px;
    background-color: black;
}

.wordset-grid-item {
    background-color: white;
    padding: 20px;
}

/* _word_list.html */

#word-list li {
    display: inline-block;
}

/* WordSet */

.wordset-container {
    margin: auto;
    width: 75%;
}

.wordset-box {
    position: relative;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    min-height: 25vw;
    background-color: lightgrey;
    border-style: inset;
}

.wordset-box a {
    color: black;
    text-decoration: none;
}

.wordset-box p {
    margin: 0;
}

.wordset-box a:hover {
    cursor: pointer;
    color: blue;
}

.wordset-box:hover .copy-btn {
    display: block;
}

.wordset-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-btn {
    display: none;
    position: absolute;
    inset: 5px 5px auto auto;
    width: 2em; height: 2em;
}

.export-btn {
    height: 2em; width: fit-content;
}

.preset-list {
    margin: 1em;
}

.preset-list p {
    margin: 0;
}

.preset-item:hover {
    color: darkgrey;
    text-decoration: underline;
    cursor: pointer;
}

/* Forms */

.form-control {
    width: 10vw;
}