<div class="wordset-container">
    <div class="wordset-box">
        <button type="button" class="copy-btn" onclick="copyText(document.getElementById('copy-box-content'))"><i class="fa fa-copy"></i></button>
        <ul id="word-list">
            {% for w in all_words %}
                {% if forloop.last %}
                    <li><a href="details/{{ w.id }}" >{{ w.word }}</a></li>
                {% else %}
                    <li><a href="details/{{ w.id }}" >{{ w.word }}, </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="wordset-info">
        <p><span>Num Words:</span> <span>Characters:</span></p>
        
        <button type="button" class="export-btn" onclick="downloadTextContent(document.getElementById('copy-box-content'))">Export as .txt</button>
    </div>
</div>

<script>
    function copyText(element) {
        navigator.clipboard.writeText(element.innerText);
    }

    function downloadTextContent(element, filename = 'wordset.txt') {
        const blob = new Blob([element.innerText], { type: 'text/plain' });
        const a = document.createElement('a');
        a.href = URL.createObjectURL(blob);
        a.download = filename;
        a.click();
        URL.revokeObjectURL(a.href);
    }
</script>