{% extends "index.html" %}

{% block title %}
    Skribbl.db
{% endblock %}

{% block content %}
    <p><a href="/">HOME</a></p>

    <h1>Words</h1>

    <a href="new_word/">Add a word</a>

    <div class="copy-box">
        {% for w in all_words %}
            {% if forloop.last %}
                <a href="details/{{ w.id }}" >{{ w.word }}</a>
            {% else %}
                <a href="details/{{ w.id }}" >{{ w.word }}, </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}