

{% extends "index.html" %}

{% block title %}
  Skribbl.db
{% endblock %}


{% block content %}
  <div class="header">
    <h1>Skribbl.db</h1>
    <button type="button" class="login-btn">Log In</button>
  </div>

  <h2>About</h2>
  <div class="page-section">
    <p>
      This is a website that helps you keep track of your custom word sets 
      for the classic online game <a href="https://skribbl.io/">Skribbl.io</a>. I always found that
      whenever I played that it was more fun to include custom words my friends
      and I used, but making them was always a hassle because we would forget 
      which words we used last time and we would have to make sure the formatting
      was right. Then sharing it was also a pain. So I decided I wanted to make
      a website where it could be stored for us online and we could easily access
      the custom words we used last time. I hope you enjoy!
    </p>
  </div>

  <h2>Custom WordSets</h2>
  <div class="page-section">
    <div class="main-container">

      <div class="wordset-list">
        <div class="preset-container">
          <h3 class="presets-header">Presets</h3>
          <ul class="preset-list">
            <li class="preset-item"><p>Easy</p></li>
            <li class="preset-item"><p>Medium</p></li>
            <li class="preset-item"><p>Hard</p></li>
            <li class="preset-item"><p>Difficult</p></li>
          </ul>
        </div>

        <p><a href="wordset/">Make your own WordSet</a></p>
      </div>

      {% block wordset_content %}{% include "./_wordset_container.html" %}{% endblock%}

    </div>
  </div>  
{% endblock %}
